{% extends "base_updated.html" %}
{% block title %}
Profile
{% endblock %}
{% block head %}
{% endblock %}
{% block context %}
<br>
<br>
<div class="container" style="gap: 50px; flex-wrap: wrap;">
    <div class="main-content-rankcheck">
        <div class="rect-large rsText">
            <div class="triangle-top-left">
                <div class="decoration-top-left shadow"></div>
            </div>
            <div class="triangle-top-right">
                <div class="decoration-top-right shadow"></div>   
            </div>
            <div class="triangle-bottom-left">
                <div class="decoration-bottom-left shadow"></div>
            </div>
            <div class="triangle-bottom-right">
                <div class="decoration-bottom-right shadow"></div>
            </div>
            
            <div class="profile-content rsText">
                <h3>{{username}} Profile</h3>
                <div class="email-details">
                    <div class="email-input-box">
                        <form>
                            <span class="details complete">Change Email&nbsp;&nbsp;&nbsp;</span>
                            <input id="email" type="email" placeholder="{{email_val}}" required>
                            <button class="profile-button rsText" id="emailButton">change</button>
                        </form>

                    </div>
                </div>
                <div class="username-details">
                    <div class="username-input-box">
                        <form>
                            <span class="details complete">Change username</span>
                            <input id="username" type="text" placeholder="{{username}}" required>
                            <button class="profile-button rsText" id="usernameButton">change</button>
                        </form>

                    </div>
                </div>
                <div class="password-details">
                    <form>
                        <span class="details complete">Change Password</span>
                        <input type="password" name="password" id="password" required placeholder="Password">
                        <input type="password" name="passwordConfirm" id="confirmPassword" required placeholder="Confirm Password">
                        <button class="profile-button rsText" id="passwordButton">change</button>
                    </form>
                </div>
                <div class="password-requirements">
                    <span>
                        <ul>
                            <li id="number" class="">Password must have at least one number (0-9)</li>
                            <li id="uppercase" class="">Password must have at least one uppercase letters (A-Z)</li>
                            <li id="lowercase" class="">Password must have at least one lowercase letters (a-z)</li>
                            <li id="special" class="">Password must have at least one special character. (e.g. !@#$%^&*())</li>
                            <li id="length" class="">Password must have at least 8 characters.</li>
                            <li id="match" class="">Password and confirm password must match.</li>
                        </ul>
                    </span>
                </div>
                <div class="account-options">
                    <p>LMS Status</p>
                    <label class="switch">
                        {% if lms_status == True %}
                        <input type="checkbox" checked id="lms_status">
                        {% else %}
                        <input type="checkbox" id="lms_status">
                        {% endif %}
                        <span class="slider round"></span>
                        
                        </label>
                        <p>Official Status</p>
                        <label class="switch">
                        {% if official %}
                        <input type="checkbox" checked id="official">
                        {% else %}
                        <input type="checkbox" disabled>
                        {% endif %}
                        <span class="slider round"></span>
                        </label>
                            <p>Skip Roll Animation</p>
                            <label class="switch">
                            <input type="checkbox" id="skip_roll_animation">
                            <span class="slider round"></span>
                            </label>
                </div>
                <div class="warning-section">
                    <p id="warning"style="display: none;" class="incomplete">!!!YOU CANNOT RE-ENABLE OFFICIAL STATUS!!!</p>
                    <button id="warningButton" style="display: none;" class="profile-button rsText">Go Unofficial</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-discord-settings">
        <div class="main-content-rankcheck">
            <div class="rect-large rsText">
                <div class="triangle-top-left">
                    <div class="decoration-top-left shadow"></div>
                </div>
                <div class="triangle-top-right">
                    <div class="decoration-top-right shadow"></div>   
                </div>
                <div class="triangle-bottom-left">
                    <div class="decoration-bottom-left shadow"></div>
                </div>
                <div class="triangle-bottom-right">
                    <div class="decoration-bottom-right shadow"></div>
                </div>
                
                <h3>Discord Settings</h3>

                <div class="discord-options rsText">
                    {% if discord_status == True %}
                    <p style="margin-bottom: 0;">Unlink your Discord Account</p>
                    <a href="/api/v2/auth/discord/disconnect" 
                        class="profile-button rsText" 
                        id="disconnectDiscordButton">
                        disconnect
                    </a>
                    <div class="discord-name-details">
                        <br />
                        <div class="discord-name-input-box">
                            <form>
                                <span class="details complete">Change Discord Default Name</span>
                                <input id="discordUsername" type="text" placeholder="{{discord_default_username}}" required maxlength="12">
                                <button class="profile-button rsText" id="discordUsernameButton">change</button>
                            </form>
                        </div>
                    </div>
                    <div class=""discord-name-requirements">
                        <div class="discord-username-requirements">
                            <span>
                                <ul>
                                    <li id="discord-length" class="">Username must be between 2 and 12 characters.</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="account-options">
                    <p>Discord Name Sync</p>
                    <label class="switch">
                        <input type="checkbox" {{ 'checked' if discord_name_sync_enabled else '' }} id="discord_name_sync_enabled">
                        <span class="slider round"></span>
                    </div>
                    {% else %}
                    <p>Link your Discord Account</p>
                    <a href="/api/v2/auth/discord/connect" 
                        class="profile-button rsText" 
                        id="connectDiscordButton">
                        connect
                    </a>
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                {{message}}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#password").bind("keyup", function(){
        var regex_uppercase = new Array();
        var regex_lowercase = new Array();
        var regex_digit = new Array();
        var regex_special = new Array();
        regex_uppercase.push("[A-Z]");
        regex_lowercase.push("[a-z]");
        regex_digit.push("[0-9]");
        regex_special.push("[!@#$%^&*]");

        if ($(this).val().length >= 8){
            $('#length').addClass('complete');
        }
        else {
            $('#length').removeClass('complete');
        }

        for (let i = 0; i < regex_uppercase.length; i++) {
            if (new RegExp(regex_uppercase[i]).test($(this).val())) {
                $('#uppercase').addClass('complete');
            }
            else {
                $('#uppercase').removeClass('complete');
            }
        }

        for (let i = 0; i < regex_lowercase.length; i++) {
            if (new RegExp(regex_lowercase[i]).test($(this).val())) {
                $('#lowercase').addClass('complete');
            }
            else {
                $('#lowercase').removeClass('complete');
            }
        }
        for (let i = 0; i < regex_digit.length; i++) {
            if (new RegExp(regex_digit[i]).test($(this).val())) {
                $('#number').addClass('complete');
            }
            else {
                $('#number').removeClass('complete');
            }
        }
        for (let i = 0; i < regex_special.length; i++) {
            if (new RegExp(regex_special[i]).test($(this).val())) {
                $('#special').addClass('complete');
            }
            else {
                $('#special').removeClass('complete');
            }
        }
    });
});

$(document).ready(function(){
    $('#confirmPassword').bind('keyup', function() {
        var password = $('#password').val();
        var confirmPassword = $('#confirmPassword').val();

        if (password === confirmPassword) {
            $('#match').addClass('complete');
        }
        else {
            $('#match').removeClass('complete');
        }
    });
});

$(document).ready(function(){
    $("#discordUsername").bind("keyup", function(){
        const len = $(this).val().length;
        if (len >= 2 && len <= 12){
            $('#discord-length').addClass('complete');
        }
        else {
            $('#discord-length').removeClass('complete');
        }
    });
});
</script>

<script>
$(document).ready(function(){
    $('#emailButton').on('click', function(){
    $('form').submit(false);
    var email_value = $('#email').val();
    req = $.ajax({
        url : '/profile/change-email/',
        type : 'POST',
        data : {email : email_value}
    });

    req.done(function(){
        alert('Your email address has been changed!');
    });
    }); 
});

$(document).ready(function(){
    $('#usernameButton').on('click', function(){
    $('form').submit(false);
    var username = $('#username').val();
    req = $.ajax({
        url : '/profile/change-username/',
        type : 'POST',
        data : {username : username}
    });

    req.done(function(data){
        if (!data['success']){
        alert(data['error'])
        }
        else {
        alert('Your username has been changed!');
        }
        
        });
    }); 
});


$(document).ready(function(){
    $('#passwordButton').on('click', function(){
    $('form').submit(false);
    var password = $('#password').val();
    var confirmPassword = $('#ConfirmPassword').val();
    req = $.ajax({
        url : '/profile/change-password/',
        type : 'POST',
        data : {new_password : password, confirm_password : confirmPassword}
    });

    req.done(function(data){
        if (!data['success']){
            alert(data['error']);
        }
        else {
            alert('Your password has been changed!');
        }
        
    });
    }); 
});

$(document).ready(function(){
    $('#discordUsernameButton').on('click', function(){
        $('form').submit(false);
        var discord_username = $('#discordUsername').val();
        req = $.ajax({
            url : '/api/v2/discord/change-default-name/',
            type : 'POST',
            data : {discord_username : discord_username}
        });

        req.done(function(data){
            if (!data['success']){
                alert(data['error'])
            }
            else {
                alert('Your discord default name has been changed!');
            }
        });
    }); 
});
</script>

<script>
function getCookieValue(name) {
    const encodedName = `${encodeURIComponent(name)}=`;
    const cookies = document.cookie ? document.cookie.split(';') : [];
    for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.indexOf(encodedName) === 0) {
            return decodeURIComponent(cookie.substring(encodedName.length));
        }
    }
    return null;
}

function setCookieValue(name, value, maxAgeSeconds) {
    document.cookie = `${encodeURIComponent(name)}=${encodeURIComponent(value)}; path=/; max-age=${maxAgeSeconds}; SameSite=Lax`;
}

$(document).ready(function() {
    const skipRollToggle = document.getElementById('skip_roll_animation');
    if (skipRollToggle) {
        const cookieValue = getCookieValue('skip_roll_animation');
        skipRollToggle.checked = cookieValue === 'true';

        skipRollToggle.addEventListener('change', function(e) {
            const enabled = e.target.checked;
            setCookieValue('skip_roll_animation', enabled ? 'true' : 'false', 31536000);
            if (enabled) {
                alert('Roll animation will now be skipped when generating tasks.');
            }
            else {
                alert('Roll animation is now enabled when generating tasks.');
            }
        });
    }

    
    $('#lms_status').on('change', function(e) {
        var lms_status = e.target.checked;
        req = $.ajax({
            url : '/profile/change-lms-status/',
            type : 'POST',
            data : {lms_status : lms_status}
        });
        req.done(function(){
            if (lms_status) {
                alert('LMS tasks are now enabled!');
            }
            else {
                alert('LMS tasks are now disabled!');
            }
        });   
    });

    
    $('#discord_name_sync_enabled').on('change', function(e) {
        var discord_name_sync_enabled = e.target.checked;
        req = $.ajax({
            url : '/api/v2/discord/change-name-sync/',
            type : 'POST',
            data : {discord_name_sync_enabled : discord_name_sync_enabled}
        });
        req.done(function(){
            if (discord_name_sync_enabled) {
                alert('Discord name syncing is enabled! Changes in your task list will show up in Discord.');
            }
            else {
                alert('Discord name syncing is disabled!');
            }
        });   
    });
});


$(document).ready(function() {
    
    $('#official').on('change', function() {
        var warning = document.getElementById('warning');
        var warningButton = document.getElementById('warningButton');
        warning.style.display = 'block';
        warningButton.style.display = 'block';

    });
});


$(document).ready(function(){
    $('#warningButton').on('click', function(){
    $('form').submit(false);
    req = $.ajax({
        url : '/profile/change-official/',
        type : 'POST'
    });

    req.done(function(){
        if (!data['success']){
            alert(data['error']);
        }
        else {
            alert('You are no longer an official tasker, sorry to see you go!');
        }
    });
    }); 
});
</script>
{% endblock%}


